:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second--text-color: #2196f3;
  --third--text--color: rgba(255, 255, 255, 0.6);
  --fourth-text-color: #212121;
  --font-color: #e5e5e5;
  --six-color: #2196f3;
  --first-background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", "open suns";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*--------------------------Backdrop----------------------*/
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
  transition: transform 1000ms;
}

.form-group {
  margin-bottom: 10px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-icon {
  fill: #000000;
}

.modal-close-icon:hover {
  fill: var(--six-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal-line-box {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--six-color);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--six-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text {
  display: flex;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px 12px 16px;
}

.modal-form-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-area-group {
  margin-bottom: 20px;
}

.contract-done {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.done-box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.done-icon {
  fill: #ffffff;
}

.input-done:checked + .contract-done .done-box {
  background-color: var(--six-color);
  border: none;
}

.done-button {
  display: flex;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  cursor: pointer;
  color: var(--main-title-color);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  display: block;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.policity {
  color: var(--second--text-color);
  margin-left: 5px;
}

/*----------------------------------Фокус/Ховер-----------------------------------*/

/* .
  color: var(--six-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 */
/*-----------------------------------Header/Хедер--------------------------------*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.Contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third--text--color);
}

.nav-list {
  display: flex;
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logo-studio {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  border-radius: 2px;
  color: #2196f3;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  display: block;
  bottom: -31.5px;
}
/* ------------------контакты--------------- */
.contact-list {
  margin-left: 200px;
  display: flex;
}

.contact-item {
  margin-left: 30px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*-----------------------------------------------Hero------------------------------------*/
.hero {
  background-color: var(--first-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/heroimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.hero-button {
  display: flex;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  cursor: pointer;
  color: var(--main-title-color);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  display: block;
  border-style: none;
}

.hero.hero-button:hover,
.hero.hero-button:active {
  color: #ffffff;
  border-radius: 4px;
}

/*-------------------------------------------------ЧТО МЫ ДЕЛАЕМ--------------------------------------------*/
.description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-item {
  align-items: center;
  justify-content: center;
}

.description-top-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.description-top-box:not(:last-child) {
  margin-right: 30px;
}

.description-icon {
  width: 70px;
  height: 70px;
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--fourth-text-color);
}

.description-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  color: var(--main-text-color);
}
/*------------------------------------------------Чем мы занимаемся--------------------------------------*/

.procces-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.procces-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-bottom: 94px;
}

.procces-list {
  display: flex;
}

.procces-item:not(:last-child) {
  margin-right: 30px;
}

.procces-item {
  position: relative;
}

.procces-photo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*---------------------------------------------------Наша команда---------------------------------------------*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  border-radius: 4px;
  color: var(--fourth-text-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
  display: flex;
}

.team-card {
  background: #ffffff;
}

.team-photo {
  border-radius: 0%;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 30px 0 10px 0;
  text-align: center;
  color: var(--second-title-color);
}
.team-position {
  font-weight: 130px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  cursor: pointer;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background: var(--six-color);
  fill: var(--main-title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------Company------------*/

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  cursor: pointer;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.client-link:hover,
.client-link:focus {
  fill: var(--second--text-color);
  border-color: var(--second--text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------------------------------Футер-----------------------------------------------*/
.footer {
  background-color: var(--first-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.footer-nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--third--text--color);
}

.web-footer {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  display: flex;
}

.footer-studio {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #2196f3;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.social-box-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-box-footer {
  margin-left: 70px;
}

.social-box-list {
  display: flex;
  cursor: pointer;
}

.social-box-item:not(:last-child) {
  margin-right: 10px;
}

.social-box-item {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.social-box-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  fill: var(--main-title-color);
  align-items: center;
  justify-content: center;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social-box-link:hover,
.social-box-link:focus {
  background-color: var(--second--text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box-email {
  margin-left: 93px;
}

.footer-text-email {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-email {
  margin-top: 20px;
  display: flex;
}

.email-input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.email-input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-left: 16px;
}

.footer-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding-left: 29px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-icon-send {
  color: var(--main-title-color);
  margin-left: 10px;
}
/*-----------------------------------------------------Portfolio----------------------------------------------------*/

/*---------------------------------------Filter Buttons-----------------------------*/

.filter-btn {
  background-color: whitesmoke;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-title-color);
  padding: 6px 22px 6px 22px;
  border-style: none;
  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.filter-btn:hover {
  color: var(--main-title-color);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--second-title-color);
}

/*--------------------------------------Progect-------------------------------------*/
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin: 0;
}

.portfolio-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--main-text);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-main-text {
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.portfolio-link:hover .portfolio-main-text {
  transform: translateY(0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
