.logo {
  @include font(400, 26px, 1.19, 0.03em);
  font-family: "Raleway";
  color: var(--six-color);
  margin-right: 93px;
}

.logo-studio {
  @include font(400, 26px, 1.19, 0.03em);
  font-family: "Raleway";
  color: var(--fourth-text-color);
}
