.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-item {
  margin-bottom: 30px;

  &:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin: 0;
}

.portfolio-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--main-text);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-main-text {
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.portfolio-link:hover {
  .portfolio-main-text {
    transform: translateY(0);
  }
}
